.contactRoot {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: xx-large;
  }

  .formContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;

    .description {
      text-align: center;
    }

    .textBox {
      margin-top: 50px;
    }

    .submitButton {
      margin-top: 50px;
      width: 100px;
    }
  }
}
